---
const {tags,projectName,description,imageUrl,altImg} = Astro.props
---
<div class="card card-compact bg-base-100 w-[363px] shadow-xl">
    <figure>
      <img
        src={imageUrl}
        alt={altImg} />
    </figure>
    <div class="card-body font-poppins">
      <div class="flex gap-2">
        <div class="badge badge-accent font-poppins font-thin">{tags}</div>
        <div class="badge badge-primary font-poppins font-thin">Backend</div>
      </div>
      <h2 class="card-title font-recoleta font-bold text-white">{projectName}</h2>
      <p>{description}</p>
    </div>
  </div>